/* 文章场景相关 */
$wyg-color-title: #2c405a; // 文章标题颜色
$wyg-font-size-title: 20px;
$wyg-color-subtitle: #555; // 二级标题颜色
$wyg-font-size-subtitle: 18px;
$wyg-color-paragraph: #3f536e; // 文章段落颜色
$wyg-font-size-paragraph: 15px;
