@import './color.scss';

/* 文字尺寸 */
$wyg-font-size-sm: 20rpx;
$wyg-font-size-base: 24rpx;
$wyg-font-size-lg: 28rpx;

/* 文章场景相关 */
$wyg-color-title: #303133; // 文章标题颜色
$wyg-font-size-title: 32rpx;
$wyg-color-subtitle: #909399; // 二级标题颜色
$wyg-font-size-subtitle: 22rpx;
$wyg-color-paragraph: #606266; // 文章段落颜色
$wyg-font-size-paragraph: 26rpx;

/* 图片尺寸 */
$wyg-img-size-sm: 40rpx;
$wyg-img-size-base: 52rpx;
$wyg-img-size-lg: 80rpx;

/* Border Radius */
$wyg-border-radius-sm: 6rpx;
$wyg-border-radius-base: 8rpx;
$wyg-border-radius-lg: 12rpx;
$wyg-border-radius-circle: 50%;

/* 水平间距 */
$wyg-spacing-row-sm: 10rpx;
$wyg-spacing-row-base: 20rpx;
$wyg-spacing-row-lg: 30rpx;

/* 垂直间距 */
$wyg-spacing-col-sm: 8rpx;
$wyg-spacing-col-base: 16rpx;
$wyg-spacing-col-lg: 24rpx;

/* 间隙距离 */
$wyg-gap-base: 20rpx;

/* 组件禁用态的透明度 */
$wyg-opacity-disabled: 0.3;

/* 导航栏高度 */
$wyg-navigation-bar-height: 44px;

$wyg-search-bar-height: 100rpx;

/* 列表高度基准 */
$wyg-list-height-base: 80rpx;

/* 拼接单位 */
@function setUnit($num, $unit: rpx) {
	@return #{$num}#{$unit};
}
