
$wyg-font-default: #000;

$colors: (
    // 白雪
    baixue: (
        bgColor: #fff,
        textColor: $wyg-font-default,
    ),
    // 灰绿
    huilv: (
        bgColor: #d8e7eb,
        textColor: $wyg-font-default
    ),
    // 浅蓝
    qianlan: (
        bgColor: #e9faff,
        textColor: $wyg-font-default
    ),
    // 明黄
    minghuang: (
        bgColor: #ffffed,
        textColor: $wyg-font-default
    ),
    // 淡绿
    danlv: (
        bgColor: #eefaee,
        textColor: $wyg-font-default
    ),
    // 草绿
    caolv: (
        bgColor: #cce8cf,
        textColor: $wyg-font-default
    ),
    // 红粉
    hongfen: (
        bgColor: #fcefff,
        textColor: $wyg-font-default
    ),
    // 仿墨水屏
    fangmoshui: (
        bgColor: #c0d3d7,
        textColor: #111
    ),
    // 米黄
    mihuang: (
        bgColor: #f5f5dc,
        textColor: $wyg-font-default
    ),
    // 茶色
    cha: (
        bgColor: #d2b48c,
        textColor: $wyg-font-default
    ),
    // 银色
    yin: (
        bgColor: #c0c0c0,
        textColor: $wyg-font-default
    ),
    // 黑绿
    heilv: (
        bgColor: #000,
        textColor: #00B800
    ),
    // 浅黄
    qianhuang: (
        bgColor: #f5f1e8,
        textColor: $wyg-font-default
    ),
    // 午夜
    wuye: (
        bgColor: #002b36,
        textColor: #839496
    ),
    // 浅灰
    qianhui: (
        bgColor: #d9e0e8,
        textColor: $wyg-font-default
    ),
    // 漆黑
    qihei: (
        bgColor: #000,
        textColor: #555
    ),
);

