$wyg-font-default: #000;
$wyg-font-fangmoshui: #111;
$wyg-font-heilv: #00B800;
$wyg-font-wuye: #839496;
$wyg-font-qihei: #555;

// 白雪
$wyg-bg-baixue: #fff;
// 灰绿
$wyg-bg-huilv: #d8e7eb;
// 浅蓝
$wyg-bg-qianlan: #e9faff;
// 明黄
$wyg-bg-minghuang: #ffffed;
// 淡绿
$wyg-bg-danlv: #eefaee;
// 草绿
$wyg-bg-caolv: #cce8cf;
// 红粉
$wyg-bg-hongfen: #fcefff;
// 仿墨水屏
$wyg-bg-fangmoshui: #C0d3d7;
// 米黄
$wyg-bg-mihuang: #f5f5dc;
// 茶色
$wyg-bg-cha: #d2b48c;
// 银色
$wyg-bg-yin: #c0c0c0;
// 黑绿
$wyg-bg-heilv: #000;
// 浅黄
$wyg-bg-qianhuang: #f5f1e8;
// 午夜
$wyg-bg-wuye: #002b36;
// 浅灰
$wyg-bg-qianhui: #d9e0e8;
// 漆黑
$wyg-bg-qihei: #000;
