@use 'sass:color';

$black: #000;
$white: #fff;

// 行为颜色
$primary-color: #2979ff;
$primary-hover-color: color.scale($primary-color, $lightness: 10%);
$primary-active-color: color.scale($primary-color, $lightness: -10%);
$primary-disabled-color: color.scale($primary-color, $lightness: 30%);

$success-color: #19be6b;
$success-hover-color: color.scale($success-color, $lightness: 10%);
$success-active-color: color.scale($success-color, $lightness: -10%);
$success-disabled-color: color.scale($success-color, $lightness: 30%);

$warning-color: #ff9900;
$warning-hover-color: color.scale($warning-color, $lightness: 10%);
$warning-active-color: color.scale($warning-color, $lightness: -10%);
$warning-disabled-color: color.scale($warning-color, $lightness: 30%);

$error-color: #fa3534;
$error-hover-color: color.scale($error-color, $lightness: 10%);
$error-active-color: color.scale($error-color, $lightness: -10%);
$error-disabled-color: color.scale($error-color, $lightness: 30%);

// 文字颜色
$text-color: #303133; // 主要文字
$text-normal-color: #606266; // 常规文字
$text-inverse-color: #fff; // 反色
$text-grey-color: #999; // 辅助灰色，如加载更多的提示信息
$text-secondary-color: #909399; // 次要文字颜色
$text-placeholder-color: #c0c4cc;
$text-disable-color: #d5d5d5;

// 背景颜色
$bg-color: #fff;
$bg-grey-color: #f8f8f8;
$bg-hover-color: #f1f1f1; // 点击状态颜色
$bg-mask-color: rgba(0, 0, 0, 0.4); // 遮罩颜色
$bg-disable-color: #f7f6f6;

$border-color: #c8c7cc;
