@use './config/readStyle.scss' as R;

// 阅读样式，背景色和字色
@mixin backgroundColor() {
	@each $key, $value in R.$colors {
		$bgColor: map-get($value, bgColor);
		$textColor: map-get($value, textColor);
		&.#{$key} {
			background-color: $bgColor;
			color: $textColor;
		}
	}
}

// 阅读样式，字号
@mixin fontSize() {
	$title: map-get(R.$sizes, titleSize);
	$subtitle: map-get(R.$sizes, subtitleSize);
	$pargraph: map-get(R.$sizes, paragraphSize);
	@each $multiKey, $multiVal in R.$size-multiples {
		&.#{$multiKey} {
			--title: #{$multiVal * $title};
			--subtitle: #{$multiVal * $subtitle};
			--paragraph: #{$multiVal * $pargraph};
		}
	}
}
